@import "settings/fonts";
@import "settings/sqlitemplate";
@import "components/asciidoc";
@import "components/awesome-icons";

h2, h3, h4, h5, h6 {
  border-bottom: 1px solid $sect-divider-color;
}
// body {
//   background: url(images/sqlitemplate/title-background.jpg) no-repeat;
//   background-attachment: fixed;
//   background-position: right bottom;
//   background-size: 40%;
//   padding-bottom: 100px;
// }

h1, h2 {
  font-family: "FuturaStdHeavy";
  text-transform: uppercase;
}

h2 {
  font-size: 1.7em;
}

.sect1 {
  padding-bottom: 0;
}

// Bloc commente car il creait un saut de ligne entre le nom de l'auteur et le mail pour le format HTML
// .author{
//   margin-top: 2.5rem;
// }

.tableblock > code{
  color: #fff;
}

#footer {
  box-shadow: 1px 1px 1px #333;
  position: fixed !important;
  font-size: 0.8em;
  bottom: 0;
  background: white url(images/sqlitemplate/SQLI_DX_LOGO_vert.png) no-repeat;
  background-position: 1em;
  background-size: 80px;
}

#footer-text {
  margin-left: 8em;
}

#toctitle {
  font-family: "FuturaStdHeavy" ;
  color: #006554;
  font-weight: normal;
  margin-top: 1.5em;
  text-transform: uppercase;
}

.sidebarblock {
  border-color: #aaa; // why is this not honoring variable?
}

code {
  @include radius(4px);
}

p.tableblock.header {
  color: $table-row-font-color;
}

.literalblock,
.listingblock {
  & pre {
    background: $pre-bg;
    font-size: 1.05em;
    line-height: 1.6em;
  }
}
