@font-face {
  font-family: 'FuturaStd';
  src: url(fonts/FuturaStd-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd';
  src: url(fonts/FuturaStd-LightOblique.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaStd';
  src: url(fonts/FuturaStd-Medium.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaStd';
  src: url(fonts/FuturaStd-MediumOblique.ttf) format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'FuturaStdHeavy';
  src: url(fonts/FuturaStd-Heavy.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}