$body-font-family: 'FuturaStd';

@import "defaults";

// Settings

// $SQLIColor: #EB285A;
$SQLIColor: #006554;

$primary-color: #00579e;
$global-radius: 3px;
$em-base: 16px;

// Body

$base-font-size: 14px;
$body-font-color: black;
$column-gutter: emCalc(48px);

// Headers

$title-font-color: $SQLIColor;
$title-font-weight: bold;
$header-font-family: $body-font-family;
$header-font-color: $title-font-color;
$header-font-weight: normal;
$header-top-margin: .5em;
$subheader-font-color: darken($primary-color, 10%);
$sect-divider-size: 0;

// Footer

$footer-bg: #fff;
$footer-font-color: #333;

// Block Quotes

$blockquote-font-color: #333;

// Links

$anchor-font-color-hover: #333;
$anchor-text-decoration-hover: underline;

// Lists

$list-side-margin: emCalc(24px);

// Inline Code

$code-color: #333;
$code-font-size: 1em;
$code-font-weight: normal;
$code-padding: 3px 2px 1px 2px;
$code-border-size: 1px;
$code-bg-color: #eee;

// Code Blocks

$pre-bg: #eee;
$pre-font-color: #333;
$pre-font-size: 1em;
$code-line-height: 1em;
$pre-border-color: #ddd;
$pre-border-style: solid;
$pre-padding: emCalc(20px) emCalc(25px) emCalc(18px) emCalc(25px);
$pre-font-family: monospace;

// Panels

$panel-bg: #fff;
$panel-border-color: #aaa;

// Paragraphs

$paragraph-margin-bottom: emCalc(12px);

// Tables

$table-border-color: #d8d8ce;
$table-head-bg: #006554;
$table-even-row-bg: #edf2f2;
$table-head-font-color: #fff;
$table-head-font-size: inherit;
$table-row-font-size: inherit;
$table-row-font-color: #6d6e71;
$table-line-height: 1.4;
